
{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <br>
<div class="row">
        <div class="col-12">
            <div>
            {% for tag in post.tags.all %}
                <span class="badge badge-primary">{{ tag.name }}</span>
            {% endfor %}
            </div>
         <h3 class="mb-0">{{ post.title_en }}</h3>
         <div class="mb-1 text-muted">{{ post.created_at }}</div>
        <h6>{{ post.content_en | safe }}</h6>
        <img style="width: 100%" src="{{post.photo.url}}">
        </div>
</div>
{% endblock %}